.container_hw18 {
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    height: 630px;
    overflow:auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    
}

.inner {
    width: 500px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 130px;
    background-image: url('https://openclipart.org/download/231368/iPhone-6s-Rose-Gold.svg');
    background-size:cover;
    height: 950px;
}

.title {
    width: 100px;
    margin: 0 auto;
}

.search_input {
    width: 360px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: #353535;
    background: #d6d6d6;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5px;
}

.filter_box {
    display: flex;
    justify-content: center;
    margin: 5px;
}

label {
    margin: 5px;
}
label input {
    margin: 5px;
}

.contact_box {
    margin: 15px;
    

}

.content_box_user {
    display: flex;
    align-items: center;
}

.contact_box p {
    font-weight: 400;
    margin: 5px;
    font-size: 12px;
}

.user {
    width: 25px;
}
.gender {
    width: 15px;
    margin: 5px;
}