div.inner_box_hw18 {
    position: relative;
    display: flex;
    justify-content: center;
}

.inner_box_hw18_img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: -3;
    height: 100vh;
}

.container_hw18 {
    border-radius: 5px;
    margin: 75px auto;
    max-width: 250px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 80vh;

    
}

.title_hw18 {
    width: 100px;
    margin: 0 auto;
    color: rgb(5, 91, 219);
}

.search_input {
    width: 220px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: #353535;
    background: #d6d6d6;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
}

.filter_box {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 12px;
    align-content: space-between;
}

.filter_box label {
    margin-left: 5px;
    width: 30%;
}
label input {
    margin: 5px;
}

.contact_box {
    margin: 15px;
    

}

.content_box_user {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.contact_box p {
    font-weight:bold;
    margin: 5px;
    font-size: 12px;
    color: rgb(5, 91, 219);
    cursor: pointer;
}

.user_hw18 {
    width: 25px;
    margin-right: 5px;
}
.gender_icon_hw18 >img {
    max-width: 15px;
    margin: 5px;
}