 .container_hw17 {
    background-color:floralwhite;
    background: url(background.png); 
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    
  }
  
  .post_hw17 {
    background-color: #15202B;
    padding: 15px;
    margin: auto;
    max-width: 900px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .header_hw17 {
    display: flex;
  }
  
  .header_icon_hw17 {
    padding: 10px;
  }
  
  .header_icon_hw17 > img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .header_content_hw17 {
    width: 100%;
    padding-left: 20px;
    position: relative;
    align-content: center;
  }
  
  .name_hw17 {
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .verified{
    font-weight: bold;
    font-size: 28px;
    color: white;
    vertical-align: middle;
  }
  
  .header_additional {
    margin-left: 10px;
    font-size: 22px;
    color:#8393A0;
  }
  
  .content_hw17 {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    color:#8393A0;
    width: max-content;
    max-height: max-content;
    position: absolute;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .reveal_sign {
    transform: rotate(180deg);
    font-size: 36px;
    color:#8393A0;
    margin-left: 280px;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .verified > img {
    width: 20px;
    background-color: #15202B;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .content_hw17 {
    font-size: 22px;
    color: white;
  }
  
  .image_hw17 {
    margin-left: 100px;
    margin-right: 10px;
  }
  
  .image_hw17 > img{
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
  }
  
  .icons_hw17 {
    display: flex;
    margin-left: 140px;
    padding-top: 15px;
    color:#8393A0;
    justify-content: space-between;
    padding-right: 12%;
    padding-left: 10px;
  }
  
  .footer_icon_hw17 {
    font-size: 32px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .footer_value {
    font-size: 24px;
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
  }